$color-white: #E1DDDB
$color-black: #8E8D8A
$feature: #E85A4F
$background-color : #EAE7DC
$brown : #D8C3A5

$to-do: #f4ce46
$in-progress: #2a92bf
$approved: #00b961
$ease-out: all 0.3s cubic-bezier(0.23, 1, 0.32, 1)
