/* Media Query

/* Responsive on screens less than 600px wide

@media screen and (max-width: 600px)
  #app
    .page-wrapper
      z-index: 2

    .welcome-text-container, .wavy-text-container
      margin: 0
      text-align: center
      font-size: 1em

    .wavy-text-container
      font-size: 2em

    .menu
      position: relative

      .menu-hamburger
        display: block
        position: absolute
        right: 0em
        width: 45px
        height: 40px
        padding: 8px

        &:after
          box-shadow: none
          content: ""
          position: absolute
          top: calc(50% - 2px)
          right: 1rem
          width: 30px
          height: 2px
          background: $color-white
          box-shadow: 0 10px $color-white, 0 -10px $color-white

      &.dropdown-active
        .menu-hamburger:after
          box-shadow: none
        ol
          display: flex

        .sub-menu
          display: none
          width: 100vw
          position: relative
          left: -2rem
          top: 50%
          transform: translateY(-50%)

        .menu-item:hover > .sub-menu
          display: block

    .menu > ol
      display: none
      background: $feature
      flex-direction: column
      justify-content: center
      height: 60vh
      animation: fade 0.2s ease-out

    .menu > ol > .menu-item
      flex: 0
      opacity: 0
      animation: enter 0.3s ease-out forwards

    .menu > ol > .menu-item:nth-child(1)
      animation-delay: 0s

    .menu > ol > .menu-item:nth-child(2)
      animation-delay: 0.1s

    .menu > ol > .menu-item:nth-child(3)
      animation-delay: 0.2s

    .menu > ol > .menu-item:nth-child(4)
      animation-delay: 0.3s

    .menu > ol > .menu-item:nth-child(5)
      animation-delay: 0.4s

    .menu > ol > .menu-item + .menu-item
      margin-top: 0.75rem

    .menu > ol > .menu-item:after
      left: auto
      right: 1rem
      bottom: calc(50% - 6px)
      content: "\f104"
      font: normal normal normal 14px/1 FontAwesome
      font-size: inherit
      text-rendering: auto
      -webkit-font-smoothing: antialiased

    .menu > ol > .menu-item:hover
      z-index: 1

    .clock
      display: none

    .about-content
      p
        max-width: 100%

      .me-content-container
        display: flex
        justify-content: center
        flex-direction: column
        margin: 0

        img
          margin: 0

      .toggle-content-container
        margin: 3em 0

        .timeline-container 
          width: 85%
          span:nth-child(odd):before
            left: 96%
          span:nth-child(even):before
            right: 96%

    .project-1
      .time-container
        justify-content: center

        .time-text
          margin: 0

      .drag-drop-container
        .input
          width: 50%

        .drag-list
          @media (max-width: 690px)
            display: block

        .drag-column
          @media (max-width: 690px)
            margin-bottom: 30px

@media screen and (min-width: 1024px) and (max-width: 1024px)
  #app
    .wavy-text-container
      margin: 0 2em
    .welcome-text-container
      margin: 2em

    .about-content
      .me-content-container
        margin: 3em 2em