@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

$color-gray : #545454;
$color-lightgray : rgba(187, 186, 186, 0.8);
$color-superlightgray : rgba(230, 230, 230, 0.2);
$color-white : rgb(255,255,255);
$color-black : rgb(0,0,0);
$breakpoint-tablet: 768px;
$feature : #4b9aaa;
$clock-size : 200px;

#app {
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $color-white;
    font-size: 1.2em;
    #page-content {
        padding: 20px;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 0.9em;
        white-space: nowrap;
        padding: 0.5em 0;
        opacity: 0.8;
    }
}

#nav {
    position: sticky;
    top: 0;
    background-color: $color-superlightgray;
    font-size: 1.3em;
    padding: 0 500px;
    #nav-links {
        display: flex;
        justify-content: center;
        white-space: nowrap;
        padding: 10px;
    }
    a {
        margin-left: 3em;
        text-decoration: none;
        color: $color-white;
        &:hover {
            color: $color-black;
        }
    }
}

body {
    margin: 0;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(101,204,184,1) 50%, rgba(252,176,69,1) 100%);
}

.wavy-text-container {
    position: relative;
    -webkit-box-reflect: below -70% linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    font-size: 4em;
    text-align: left;
    margin-left: 3em;
    z-index: -1;
    .wavy-text {
        font-weight: 300;
        position: relative;
        display: inline-block;
        animation: animate 1.5s ease-in-out infinite;
        animation-iteration-count: 1;
        animation-delay: calc(.1s * var(--i));
        &:nth-of-type(7) {
            padding-left: 10px;
        }
      }
      @keyframes animate {
        0%, 100% {
          transform: translateY(0px);
        }
        20% {
          transform: translateY(-20px);
        }
        40% {
          transform: translateY(0px);
        }
    }
}

.welcome-text-container {
    text-align: right;
    margin-right: 8em;
    font-size: 1.2em;
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    display: inline-block;
    margin: 0 10px;
}
a {
    color: #42b983;
}

/* PROJECT-1 */

.project-1 {
    display: flex;
}

.clock {
    height: $clock-size;
    width: $clock-size;
    border-radius: #{$clock-size / 2};
    display: flex;
    justify-content: center;
    position: relative;
    &__second,
    &__minute,
    &__hour, &__indicator {
      position: absolute;
      left: calc(50% - 1px);
      width: 2px;
      background: $color-white;
      transform-origin: bottom center;
      z-index: 2;
      border-radius: 1px;
    }
    &__second {
      height: #{($clock-size / 2) - 10};
      margin-top: 10px;
      background: $feature;
      animation: time 60s infinite steps(60);
      z-index: 3;
    }
    &__minute {
      height: #{($clock-size / 2) - 20};
      margin-top: 20px;
      opacity: 0.75;
      animation: time 3600s linear infinite;
    }
    &__hour {
      height: #{($clock-size / 2) - 40};
      margin-top: 40px;
      animation: time 43200s linear infinite;
    }
    &__indicator {
        height: #{($clock-size / 2) - 2};
        border-top: 2px solid $feature;
        background: none;
      }
      &__indicator:nth-of-type(5n) {
        opacity: 1;
        height: #{($clock-size / 2) - 7};
        border-top: 7px solid $color-white;
      }
      &__axis {
        background: $feature;
        width: 5px;
        height: 5px;
        border-radius: 3px;
        position: absolute;
        z-index: 4;
        top: #{$clock-size / 2 - 3};
        
      }

  }
  
  @for $i from 1 through 4 {
    section:nth-of-type(#{$i}) {
      transform: rotateZ(calc(6deg * 45 * #{$i}));
    }
  }
  
  @keyframes time {
    to {
      transform: rotateZ(360deg);
    }
  }
/* ABOUT */

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .picture-me {
        border-radius: 50%;
        background-color: $color-white;
        height: 250px;
        width: 250px;
        margin: 0 10%;
    }
    .text-me {
        max-width: 80%;
    }
}

/* Media Query */

@media (max-width: $breakpoint-tablet) {
    #app {
        &.hamburger-open {
            #page-content {
                filter: blur(1px);
            }
        }
        .welcome-text-container, .wavy-text-container {
            margin: 0;
            text-align: center;
            font-size: 1em;
        }
        .wavy-text-container {
            font-size: 2em;
        }
        #nav {
            justify-content: flex-end;
            padding: 5px 10px;
            display: flex;
        }
    
        #nav-links {
            display: none;
        }
    
        .hamburger-container {
            display: inline-block;
            cursor: pointer;
            z-index: 2;
        }

        .hamburger-container.clicked ~ #nav-links {
            display: flex;
            background-color: white;
            position: absolute;
            width: 7em;
            height: fit-content;
            flex-wrap: wrap;
            border-radius: 2px;
            padding-top: 1em;
            opacity: 0.6;
            a {
                z-index: 20000;
                color: $color-black;
                &:hover {
                    color: rgb(131,58,180);
                }
            }
        }
          
        .bar1, .bar2, .bar3 {
            width: 35px;
            height: 5px;
            background-color: $color-white;
            opacity: 0.6;
            margin: 6px 0;
            transition: 0.4s;
        }
    
        .hamburger-container.clicked .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
        }
      
        .hamburger-container.clicked .bar2 {
            opacity: 0;
        }
      
        .hamburger-container.clicked .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
        }
    } 
}