@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import '../scss/keyframes.scss';

$color-gray : #545454;
$color-lightgray : rgba(187, 186, 186, 0.8);
$color-superlightgray : rgba(230, 230, 230, 0.5);
$color-white : rgb(255,255,255);
$color-black : rgb(0,0,0);
$breakpoint-tablet: 768px;
$feature : #FCC986;
$feature-hover : rgb(252, 208, 177);
$my-blue : #ADD8E6;
$clock-size : 200px;

#app {
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: $color-black;
    font-size: 1.2em;
    .page-wrapper {
        padding: 20px;
    }

    a {
        text-decoration: none;
    }

    footer {
        bottom: 0;
        position: fixed;
        font-size: 0.9em;
        white-space: nowrap;
        padding: 0.5em 0;
        opacity: 0.8;
        background-color: rgba(230, 230, 230, 0.2);
        width: 100%;
    }
}
// BUTTON 

.button-text {
    text-transform: uppercase;
    text-decoration: none;
    background: #FCC986;
    padding: 0.8em;
    font-size: 0.8em;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    &:hover {
        background: $feature-hover;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
    }
}

// NAVBAR
.menu {
    background: $feature;
    height: 3.5rem;
    z-index: 5;
    cursor: pointer;
    ol {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
    }
  }
  .menu > ol {
    max-width: 1000px;
    padding: 0 2rem;
    display: flex;
  }
  .menu > ol > .menu-item {
    flex: 1;
    padding: 0.75rem 0;
    .router-link-exact-active {
      opacity: 0.5;
    }
  }
  .menu > ol > .menu-item:after {
    content: "\f106";
    position: absolute;
    border-radius: 50%;
    bottom: 3px;
    left: calc(50% - 5px);
    will-change: transform;
    transform: scale(0);
    transition: transform 0.2s ease;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  .menu > ol > .menu-item:hover:after {
    transform: scale(1);
  }
  .menu-item {
    position: relative;
    line-height: 2rem;
    text-align: center;
  }
  .menu-item a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    color: $color-black;
  }
    
  .sub-menu .menu-item {
    padding: 0.75rem 0;
    background: $feature;
    opacity: 0;
    transform-origin: bottom;
    animation: enter 0.2s ease forwards;
  }
  .sub-menu .menu-item:nth-child(1) {
    animation-duration: 0.2s;
    animation-delay: 0s;
  }
  .sub-menu .menu-item:nth-child(2) {
    animation-duration: 0.3s;
    animation-delay: 0.1s;
  }
  .sub-menu .menu-item:nth-child(3) {
    animation-duration: 0.4s;
    animation-delay: 0.2s;
  }
  .sub-menu .menu-item:hover {
    background: $feature-hover;
  }
  .sub-menu .menu-item a {
    padding: 0 0.75rem;
  }
  
  @media screen and (max-width: 600px) {
    .menu {
      position: relative;
    }
    .menu:after {
      content: "";
      position: absolute;
      top: calc(50% - 2px);
      right: 1rem;
      width: 30px;
      height: 2px;
      background: $color-black;
      box-shadow: 0 10px $color-black, 0 -10px $color-black;
    }
    .menu > ol {
      display: none;
      background: $feature;
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      animation: fade 0.2s ease-out;
    }
    .menu > ol > .menu-item {
      flex: 0;
      opacity: 0;
      animation: enter 0.3s ease-out forwards;
    }
    .menu > ol > .menu-item:nth-child(1) {
      animation-delay: 0s;
    }
    .menu > ol > .menu-item:nth-child(2) {
      animation-delay: 0.1s;
    }
    .menu > ol > .menu-item:nth-child(3) {
      animation-delay: 0.2s;
    }
    .menu > ol > .menu-item:nth-child(4) {
      animation-delay: 0.3s;
    }
    .menu > ol > .menu-item:nth-child(5) {
      animation-delay: 0.4s;
    }
    .menu > ol > .menu-item + .menu-item {
      margin-top: 0.75rem;
    }
    .menu > ol > .menu-item:after {
      left: auto;
      right: 1rem;
      bottom: calc(50% - 6px);
      content: "\f104";
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
    .menu > ol > .menu-item:hover {
      z-index: 1;
    }
    .menu:hover > ol {
      display: flex;
    }
    .menu:hover:after {
      box-shadow: none;
    }
  }
  
  .sub-menu {
    position: absolute;
    font-size: 0.8em;
    width: 100%;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1;
  }

  .menu-item:hover > .sub-menu {
    display: block;
  }
  
  @media screen and (max-width: 600px) {
    .sub-menu {
      width: 100vw;
      position: relative;
      left: -2rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  
//// GENERAL

body {
    margin: 0;
}

.bg {
    animation: slide 8s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #ADD8E6 50%, #F5FFFA 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}
  
.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 6s;
}
  
.bg3 {
    animation-duration: 6s;
}

/* HOME */

.wavy-text-container {
    position: relative;
    -webkit-box-reflect: below -70% linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    font-size: 4em;
    text-align: left;
    margin-left: 3em;
    z-index: -1;
    .wavy-text {
        font-weight: 300;
        position: relative;
        display: inline-block;
        animation: animate 1.5s ease-in-out infinite;
        animation-iteration-count: 1;
        animation-delay: calc(.1s * var(--i));
        &:nth-of-type(7) {
            padding-left: 10px;
        }
      }
      @keyframes animate {
        0%, 100% {
          transform: translateY(0px);
        }
        20% {
          transform: translateY(-20px);
        }
        40% {
          transform: translateY(0px);
        }
    }
}

.welcome-text-container {
    text-align: right;
    margin-right: 8em;
    font-size: 1.2em;
}


/* PROJECT-1 */

.project-1 {
    display: flex;
    
.clock {
    height: $clock-size;
    width: $clock-size;
    border-radius: #{$clock-size / 2};
    display: flex;
    justify-content: center;
    position: relative;
    &__second,
    &__minute,
    &__hour, &__indicator {
      position: absolute;
      left: calc(50% - 1px);
      width: 2px;
      background: $color-white;
      transform-origin: bottom center;
      z-index: 2;
      border-radius: 1px;
    }
    &__second {
      height: #{($clock-size / 2) - 10};
      margin-top: 10px;
      background: $feature;
      animation: time 60s infinite steps(60);
      z-index: 3;
    }
    &__minute {
      height: #{($clock-size / 2) - 20};
      margin-top: 20px;
      opacity: 0.75;
      animation: time 3600s linear infinite;
    }
    &__hour {
      height: #{($clock-size / 2) - 40};
      margin-top: 40px;
      animation: time 43200s linear infinite;
    }
    &__indicator {
        height: #{($clock-size / 2) - 2};
        border-top: 10px solid $feature;
        background: none;
      }
      &__indicator:nth-of-type(5n) {
        opacity: 1;
        height: #{($clock-size / 2) - 7};
        border-top: 7px solid $color-white;
      }
      &__axis {
        background: $feature;
        width: 5px;
        height: 5px;
        border-radius: 3px;
        position: absolute;
        z-index: 4;
        top: #{$clock-size / 2 - 3};
        
    }

}
  
  @for $i from 1 through 4 {
    section:nth-of-type(#{$i}) {
      transform: rotateZ(calc(6deg * 45 * #{$i}));
    }
  }
  
  @keyframes time {
    to {
      transform: rotateZ(360deg);
    }
  }
}

.project-2 {
    $ease-out: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    $to-do: #f4ce46;
    $in-progress: #2a92bf;
    $approved: #00b961;

    h3 {
        font-weight: 300;
    }
    
    * {
      box-sizing: border-box;
    }
    
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    .drag-container {
      max-width: 1000px;
      margin: 20px auto;
    }
    
    .drag-list {
      display: flex;
      align-items: flex-start;
    
      @media (max-width: 690px) {
        display: block;
      }
    }
    
    .drag-column {
      flex: 1;
      margin: 0 10px;
      position: relative;
      background: rgba(grey, 0.2);
      overflow: hidden;
    
      @media (max-width: 690px) {
        margin-bottom: 30px;
      }
    
      h2 {
        font-size: 0.8rem;
        margin: 0;
        text-transform: uppercase;
        font-weight: 600;
      }
    
      &-to-do {
        .drag-column-header,
        .drag-options {
          background: $to-do;
        }
      }
    
      &-in-progress {
        .drag-column-header,
        .drag-options {
          background: $in-progress;
        }
      }
    
      &-approved {
        .drag-column-header,
        .drag-options {
          background: $approved;
        }
      }
    }
    
    .drag-column-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      user-select: none;
    }
    
    .drag-inner-list {
      height: 85vh;
      overflow: auto;
    }

    .column-1 .drag-item {
        background: rgb(252, 252, 252);
    }

    .column-2 .drag-item {
        background: rgb(255, 222, 140);
    }

    .column-3 .drag-item {
        background: rgb(144, 212, 144);
    }
    
    .drag-item {
      margin: 10px;
      height: 100px;
      background: #F5FFFA;
      transition: $ease-out;
      cursor: pointer;
      border-radius: 8px;
    
      &[aria-grabbed="true"] {
        background: rgba(159, 240, 159, 0.447);
        color: black;
    }
    
      .drag-item-text {
        font-size: 1rem;
        padding-left: 1rem;
        padding-top: 1rem;
      }
    }
    
    .drag-header-more {
      cursor: pointer;
    }
    
    @keyframes nodeInserted {
      from {
        opacity: 0.2;
      }
      to {
        opacity: 0.8;
      }
    }
    
    .item-dropzone-area {
      height: 6rem;
      background: #888;
      opacity: 0.8;
      animation-duration: 0.5s;
      animation-name: nodeInserted;
      margin-left: 0.6rem;
      margin-right: 0.6rem;
    }
}
/* ABOUT */

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .picture-me {
        border-radius: 50%;
        background-color: $color-white;
        height: 250px;
        width: 250px;
        margin: 0 10%;
    }
    .text-me {
        max-width: 80%;
    }

    /// Timeline

    .timeline-container {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        color: $color-black;
    }
    
    .timeline-container::after {
    content: "";
        position: absolute;
        width: 3px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -2px;
    }

    .timeline-item {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 50%;
    }

    .timeline-item::after {
    content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        right: -9px;
        background-color: #ADD8E6;
        border: 2px solid #fff;
        top: 22px;
        border-radius: 50%;
        z-index: 1;
    }

    .left {
        left: -10.3%;
    }

    .right {
        left: 50%;
    }

    .left::before {
    content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
    }

    .right::before {
    content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .right::after {
        left: -10px;
    }

    .timeline-content {
        padding: 20px 30px;
        background-color: white;
        position: relative;
        border-radius: 6px;
    }

    /* Responsive on screens less than 600px wide */
    @media screen and (max-width: 600px) {
        .timeline-container::after {
            left: 31px;
        }

        .timeline-item {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
        }

        .timeline-item::before {
            left: 60px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
        }

        .left::after,
        .right::after {
            left: 21px;
        }

        .right, .left {
            left: 0%;
        }
    }
}

.toggle-content-container {
    display: flex;
    justify-content: center;
    margin: 25px;
}

/* Skills */

.skills-container {
    img {
        height: 10em;
        width: 10em;
    }
}

/* Media Query */

@media (max-width: $breakpoint-tablet) {
    #app {
        .welcome-text-container, .wavy-text-container {
            margin: 0;
            text-align: center;
            font-size: 1em;
        }
        .wavy-text-container {
            font-size: 2em;
        }
    }
}
